@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Paleta de cores massa

#01CCFF  #0A1A3F #1F3567 #38FFEB #7159c1;*/

:root {
  --primery-color: #0a1a3f;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primery-color);
}

header {
  background-color: #fff;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a.active {
  font-weight: bold;
  color: var (var(--primery-color));
}

.links a:hover {
  color: var(--primery-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primery-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in;
}
