{% extends "layout.njk" %}
{% block head %}

  <title>{{item.title}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

{% endblock %}
{% block content %}

  <div id="wrapper">
    <h1>{{item.title}}</h1>
  </div>
  <section class="video">

    <div class="card" id="{{item.id}}">
      <div class="card_video_container">
        <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="10"></iframe>
      </div>

    </section>

  {% endblock %}
